@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat&family=Nothing+You+Could+Do&display=swap");
/* font-family: 'Annie Use Your Telescope', cursive; */
/* font-family: 'Caveat', cursive; */
/* font-family: 'Nothing You Could Do', cursive; */

body {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 2rem;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
h4,
h5 {
  margin-bottom: 3rem;
  font-size: 2.3rem;
}
.app {
  width: 40%;
  border: 2px solid black;
  border-radius: 50px;
  padding: 2rem;
  text-align: center;
}
#addNew {
  display: flex;
  flex-direction: row2;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
}
.fa-plus {
  border-radius: 10px;
  font-size: 1.5rem;
}
#msg {
  font-size: 1.2rem;
  color: red;
}

#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

#tasks div {
  border: 2px solid black;
  border-radius: 50px;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#tasks div .options i {
  cursor: pointer;
}

.modal {
  font-size: 2rem;
}

.form-control
{
  font-size: 2rem;
}